<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Service</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body class="p-5 m-0 flex justify-center">
    <form class="max-w-md w-full flex flex-col gap-3" action="post">
      <input
        id="psid"
        class="text-sm font-medium rounded"
        type="text"
        name="psid"
        value="<%= psid %>"
        hidden
        disabled
        required
      />
      <input
        id="serviceInquiryID"
        class="text-sm font-medium rounded"
        type="text"
        name="serviceInquiryID"
        value="<%= serviceInquiry?.id %>"
        hidden
        disabled
        required
      />
      <div class="flex flex-col">
        <label for="name" class="font-semibold">Service</label>
        <input
          class="text-sm font-medium rounded"
          type="text"
          name="serviceName"
          value="<%= serviceInquiry?.serviceName %>"
          required
        />
      </div>
      <div class="flex flex-col">
        <label for="name" class="font-semibold">Name</label>
        <input
          class="text-sm font-medium rounded"
          type="text"
          name="name"
          value="<%= serviceInquiry?.name %>"
          required
        />
      </div>
      <div class="flex flex-col">
        <label for="companyName" class="font-semibold">Company Name</label>
        <input
          class="text-sm font-medium rounded"
          type="text"
          name="companyName"
          value="<%= serviceInquiry?.companyName %>"
          required
        />
      </div>
      <div class="flex flex-col">
        <label for="designation" class="font-semibold">Designation</label>
        <input
          class="text-sm font-medium rounded"
          type="text"
          name="designation"
          value="<%= serviceInquiry?.designation %>"
          required
        />
      </div>
      <div class="flex flex-col">
        <label for="email" class="font-semibold">Email</label>
        <input
          class="text-sm font-medium rounded"
          type="email"
          name="email"
          value="<%= serviceInquiry?.email %>"
          required
        />
      </div>
      <div class="flex flex-col">
        <label for="phone" class="font-semibold">Mobile Number</label>
        <input
          class="text-sm font-medium rounded"
          type="text"
          name="phone"
          value="<%= serviceInquiry?.phone %>"
          required
        />
      </div>
      <div class="flex flex-col">
        <label for="conernsAndInquiry" class="font-semibold"
          >Concerns and Inquiry</label
        >
        <textarea
          class="text-sm font-medium rounded"
          name="concernsAndInquiry"
          required
        >
<%= serviceInquiry?.conernsAndInquiry %></textarea
        >
      </div>
      <button class="p-2 bg-[#DD3538] rounded mt-5 text-white font-semibold">
        Submit
      </button>
      <div
        id="statusPassed"
        class="p-5 bg-green-200 text-center font-semibold"
        hidden
      >
        Inquiry Sent!
      </div>
      <div
        id="statusFailed"
        class="p-5 bg-red-200 text-center font-semibold"
        hidden
      >
        Sending Inquiry Failed
      </div>
    </form>
  </body>

  <script>
    // Get the form element
    const form = document.querySelector("form");
    const statusPassed = document.getElementById("statusPassed");
    const statusFailed = document.getElementById("statusFailed");
    const psid = document.getElementById("psid").value;
    const serviceInquiryID = document.getElementById("serviceInquiryID").value;

    // Add a form submission event listener
    form.addEventListener("submit", (event) => {
      event.preventDefault(); // Prevent the default form submission

      // Get the form data as a URL-encoded string
      const formData = new URLSearchParams(new FormData(form));

      fetch(`/serviceInquiry/${psid}?serviceInquiryID=${serviceInquiryID}`, {
        method: serviceInquiryID ? "PUT" : "POST",
        body: formData,
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
      })
        .then((res) => {
          if (res.status === 200) {
            form.reset();
            statusFailed.hidden = true;
            statusPassed.hidden = false;
          } else {
            statusFailed.hidden = false;
            statusPassed.hidden = true;
          }
        })
        .catch((error) => {
          statusFailed.hidden = false;
          statusPassed.hidden = true;
          console.error("Error:", error);
        });
    });
  </script>
</html>
